In [1]:
import pandas as pd

In [2]:
winter_data = pd.read_csv('data/winter.csv')

In [3]:
winter_data.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold

In [4]:
winter_data['Sport'].unique()

array(['Biathlon', 'Bobsleigh', 'Curling', 'Ice Hockey', 'Skating',
       'Skiing', 'Luge'], dtype=object)

In [5]:
winter_data['Discipline'].unique()

array(['Biathlon', 'Bobsleigh', 'Curling', 'Ice Hockey', 'Figure skating',
       'Speed skating', 'Cross Country Skiing', 'Nordic Combined',
       'Ski Jumping', 'Skeleton', 'Alpine Skiing', 'Luge',
       'Short Track Speed Skating', 'Freestyle Skiing', 'Snowboard'],
      dtype=object)

In [ ]:
7