In [2]:
import pandas as pd
import numpy as np

In [3]:
winterdata = pd.read_csv('data/winter.csv')

In [4]:
winterdata.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold

In [5]:
def aggmulti(x):
    names = {
        'Gold': x[x['Medal']=='Gold']['Medal'].count(),
        'Silver': x[x['Medal']=='Silver']['Medal'].count(),
        'Bronze': x[x['Medal']=='Bronze']['Medal'].count(),
        'Total': x['Medal'].count()
        }
    return pd.Series(names)

In [6]:
agg_data = winterdata.groupby(['Country','Year','Discipline']).apply(aggmulti)

In [7]:
agg_data = agg_data.reset_index()

In [61]:
agg_data2 = winterdata.groupby(['Country','Sport']).apply(aggmulti).reset_index()
agg_data2[agg_data2['Country']=='SWE']

    Country       Sport  Gold  Silver  Bronze  Total
116     SWE    Biathlon     3       1      12     16
117     SWE     Curling    10      13      10     33
118     SWE  Ice Hockey    46      74      98    218
119     SWE     Skating     9       5       6     20
120     SWE      Skiing    59      36      51    146

In [8]:
nordata = agg_data[agg_data['Country']=='RUS']

In [9]:
nordata['Discipline'].unique()

array(['Alpine Skiing', 'Biathlon', 'Cross Country Skiing',
       'Figure skating', 'Freestyle Skiing', 'Speed skating',
       'Ice Hockey', 'Nordic Combined', 'Bobsleigh', 'Luge', 'Skeleton',
       'Snowboard', 'Short Track Speed Skating'], dtype=object)

In [10]:
nordata

    Country  Year                 Discipline  Gold  Silver  Bronze  Total
764     RUS  1994              Alpine Skiing     0       1       0      1
765     RUS  1994                   Biathlon     6       4       1     11
766     RUS  1994       Cross Country Skiing     6       1       1      8
767     RUS  1994             Figure skating     5       4       0      9
768     RUS  1994           Freestyle Skiing     0       1       1      2
769     RUS  1994              Speed skating     2       2       1      5
770     RUS  1998                   Biathlon     1       4       4      9
771     RUS  1998       Cross Country Skiing     8       2       1     11
772     RUS  1998             Figure skating     5       4       0      9
773     RUS  1998                 Ice Hockey     0      23       0     23
774     RUS  1998            Nordic Combined     0       0       1      1
775     RUS  2002                   Biathlon     1       0       5      6
776     RUS  2002       Cross Country Skiing     2       1       1      4
777     RUS  2002             Figure skating     3       4       0      7
778     RUS  2002                 Ice Hockey     0       0      23     23
779     RUS  2006                   Biathlon     5       4       2     11
780     RUS  2006                  Bobsleigh     0       4       0      4
781     RUS  2006       Cross Country Skiing     5       2       4     11
782     RUS  2006             Figure skating     5       0       1      6
783     RUS  2006           Freestyle Skiing     0       0       1      1
784     RUS  2006                       Luge     0       1       0      1
785     RUS  2006              Speed skating     1       1       5      7
786     RUS  2010                   Biathlon     5       1       4     10
787     RUS  2010                  Bobsleigh     0       0       2      2
788     RUS  2010       Cross Country Skiing     1       1       4      6
789     RUS  2010             Figure skating     0       1       2      3
790     RUS  2010                   Skeleton     0       0       1      1
791     RUS  2010                  Snowboard     0       1       0      1
792     RUS  2010              Speed skating     0       1       1      2
793     RUS  2014                   Biathlon     4       5       1     10
794     RUS  2014                  Bobsleigh     6       0       0      6
795     RUS  2014       Cross Country Skiing     1       7       1      9
796     RUS  2014             Figure skating    13       2       2     17
797     RUS  2014           Freestyle Skiing     0       0       1      1
798     RUS  2014                       Luge     0       5       0      5
799     RUS  2014  Short Track Speed Skating     6       1       1      8
800     RUS  2014                   Skeleton     1       0       1      2
801     RUS  2014                  Snowboard     2       1       1      4
802     RUS  2014              Speed skating     0       1       5      6

In [11]:
dislist = winterdata.groupby(['Sport','Discipline']).sum().reset_index()['Discipline'].unique()
dislist

array(['Biathlon', 'Bobsleigh', 'Skeleton', 'Curling', 'Ice Hockey',
       'Luge', 'Figure skating', 'Short Track Speed Skating',
       'Speed skating', 'Alpine Skiing', 'Cross Country Skiing',
       'Freestyle Skiing', 'Nordic Combined', 'Ski Jumping', 'Snowboard'],
      dtype=object)

In [12]:
yearlist = nordata['Year'].unique()
yearlist

array([1994, 1998, 2002, 2006, 2010, 2014])

In [13]:
yearlist2 = ['','','','','']
yearlist2.extend(yearlist)
data = []
yearlist2 = ['','','','',1972, 1976, 1980, 1984, 1988, 1992, 1994, 1998,
       2002, 2006, 2010, 2014]

In [14]:
for i in range(len(dislist)):
    for j in range(len(yearlist2)):
        temp = nordata[(nordata['Year']==yearlist2[j]) & (nordata['Discipline']== dislist[i])]['Total'].to_list()
        if not temp:
            temp = 0
        else:
            temp = int(temp[0])
        data.append([j,i,temp])

/Users/yiningcao/opt/anaconda3/lib/python3.8/site-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [15]:
yearlist_str = [str(y) for y in yearlist2]
yearlist_str

['',
 '',
 '',
 '',
 '1972',
 '1976',
 '1980',
 '1984',
 '1988',
 '1992',
 '1994',
 '1998',
 '2002',
 '2006',
 '2010',
 '2014']

In [16]:
nordata[(nordata['Year']==2014)]

    Country  Year                 Discipline  Gold  Silver  Bronze  Total
793     RUS  2014                   Biathlon     4       5       1     10
794     RUS  2014                  Bobsleigh     6       0       0      6
795     RUS  2014       Cross Country Skiing     1       7       1      9
796     RUS  2014             Figure skating    13       2       2     17
797     RUS  2014           Freestyle Skiing     0       0       1      1
798     RUS  2014                       Luge     0       5       0      5
799     RUS  2014  Short Track Speed Skating     6       1       1      8
800     RUS  2014                   Skeleton     1       0       1      2
801     RUS  2014                  Snowboard     2       1       1      4
802     RUS  2014              Speed skating     0       1       5      6

In [17]:
np.array(yearlist_str)

array(['', '', '', '', '1972', '1976', '1980', '1984', '1988', '1992',
       '1994', '1998', '2002', '2006', '2010', '2014'], dtype='<U4')

In [18]:
data

[[0, 0, 0],
 [1, 0, 0],
 [2, 0, 0],
 [3, 0, 0],
 [4, 0, 0],
 [5, 0, 0],
 [6, 0, 0],
 [7, 0, 0],
 [8, 0, 0],
 [9, 0, 0],
 [10, 0, 11],
 [11, 0, 9],
 [12, 0, 6],
 [13, 0, 11],
 [14, 0, 10],
 [15, 0, 10],
 [0, 1, 0],
 [1, 1, 0],
 [2, 1, 0],
 [3, 1, 0],
 [4, 1, 0],
 [5, 1, 0],
 [6, 1, 0],
 [7, 1, 0],
 [8, 1, 0],
 [9, 1, 0],
 [10, 1, 0],
 [11, 1, 0],
 [12, 1, 0],
 [13, 1, 4],
 [14, 1, 2],
 [15, 1, 6],
 [0, 2, 0],
 [1, 2, 0],
 [2, 2, 0],
 [3, 2, 0],
 [4, 2, 0],
 [5, 2, 0],
 [6, 2, 0],
 [7, 2, 0],
 [8, 2, 0],
 [9, 2, 0],
 [10, 2, 0],
 [11, 2, 0],
 [12, 2, 0],
 [13, 2, 0],
 [14, 2, 1],
 [15, 2, 2],
 [0, 3, 0],
 [1, 3, 0],
 [2, 3, 0],
 [3, 3, 0],
 [4, 3, 0],
 [5, 3, 0],
 [6, 3, 0],
 [7, 3, 0],
 [8, 3, 0],
 [9, 3, 0],
 [10, 3, 0],
 [11, 3, 0],
 [12, 3, 0],
 [13, 3, 0],
 [14, 3, 0],
 [15, 3, 0],
 [0, 4, 0],
 [1, 4, 0],
 [2, 4, 0],
 [3, 4, 0],
 [4, 4, 0],
 [5, 4, 0],
 [6, 4, 0],
 [7, 4, 0],
 [8, 4, 0],
 [9, 4, 0],
 [10, 4, 0],
 [11, 4, 23],
 [12, 4, 23],
 [13, 4, 0],
 [14, 4, 0],
 [15, 4, 0],
 [0, 5, 0],
 [1, 5, 0],
 [2, 5, 0],
 [3, 5, 0],
 [4, 5, 0],
 [5, 5, 0],
 [6, 5, 0],
 [7, 5, 0],
 [8, 5, 0],
 [9, 5, 0],
 [10, 5, 0],
 [11, 5, 0],
 [12, 5, 0],
 [13, 5, 1],
 [14, 5, 0],
 [15, 5, 5],
 [0, 6, 0],
 [1, 6, 0],
 [2, 6, 0],
 [3, 6, 0],
 [4, 6, 0],
 [5, 6, 0],
 [6, 6, 0],
 [7, 6, 0],
 [8, 6, 0],
 [9, 6, 0],
 [10, 6, 9],
 [11, 6, 9],
 [12, 6, 7],
 [13, 6, 6],
 [14, 6, 3],
 [15, 6, 17],
 [0, 7, 0],
 [1, 7, 0],
 [2, 7, 0],
 [3, 7, 0],
 [4, 7, 0],
 [5, 7, 0],
 [6, 7, 0],
 [7, 7, 0],
 [8, 7, 0],
 [9, 7, 0],
 [10, 7, 0],
 [11, 7, 0],
 [12, 7, 0],
 [13, 7, 0],
 [14, 7, 0],
 [15, 7, 8],
 [0, 8, 0],
 [1, 8, 0],
 [2, 8, 0],
 [3, 8, 0],
 [4, 8, 0],
 [5, 8, 0],
 [6, 8, 0],
 [7, 8, 0],
 [8, 8, 0],
 [9, 8, 0],
 [10, 8, 5],
 [11, 8, 0],
 [12, 8, 0],
 [13, 8, 7],
 [14, 8, 2],
 [15, 8, 6],
 [0, 9, 0],
 [1, 9, 0],
 [2, 9, 0],
 [3, 9, 0],
 [4, 9, 0],
 [5, 9, 0],
 [6, 9, 0],
 [7, 9, 0],
 [8, 9, 0],
 [9, 9, 0],
 [10, 9, 1],
 [11, 9, 0],
 [12, 9, 0],
 [13, 9, 0],
 [14, 9, 0],
 [15, 9, 0],
 [0, 10, 0],
 [1, 10, 0],
 [2, 10, 0],
 [3, 10, 0],
 [4, 10, 0],
 [5, 10, 0],
 [6, 10, 0],
 [7, 10, 0],
 [8, 10, 0],
 [9, 10, 0],
 [10, 10, 8],
 [11, 10, 11],
 [12, 10, 4],
 [13, 10, 11],
 [14, 10, 6],
 [15, 10, 9],
 [0, 11, 0],
 [1, 11, 0],
 [2, 11, 0],
 [3, 11, 0],
 [4, 11, 0],
 [5, 11, 0],
 [6, 11, 0],
 [7, 11, 0],
 [8, 11, 0],
 [9, 11, 0],
 [10, 11, 2],
 [11, 11, 0],
 [12, 11, 0],
 [13, 11, 1],
 [14, 11, 0],
 [15, 11, 1],
 [0, 12, 0],
 [1, 12, 0],
 [2, 12, 0],
 [3, 12, 0],
 [4, 12, 0],
 [5, 12, 0],
 [6, 12, 0],
 [7, 12, 0],
 [8, 12, 0],
 [9, 12, 0],
 [10, 12, 0],
 [11, 12, 1],
 [12, 12, 0],
 [13, 12, 0],
 [14, 12, 0],
 [15, 12, 0],
 [0, 13, 0],
 [1, 13, 0],
 [2, 13, 0],
 [3, 13, 0],
 [4, 13, 0],
 [5, 13, 0],
 [6, 13, 0],
 [7, 13, 0],
 [8, 13, 0],
 [9, 13, 0],
 [10, 13, 0],
 [11, 13, 0],
 [12, 13, 0],
 [13, 13, 0],
 [14, 13, 0],
 [15, 13, 0],
 [0, 14, 0],
 [1, 14, 0],
 [2, 14, 0],
 [3, 14, 0],
 [4, 14, 0],
 [5, 14, 0],
 [6, 14, 0],
 [7, 14, 0],
 [8, 14, 0],
 [9, 14, 0],
 [10, 14, 0],
 [11, 14, 0],
 [12, 14, 0],
 [13, 14, 0],
 [14, 14, 1],
 [15, 14, 4]]

In [19]:
sum_data = winterdata.groupby(['Country','Discipline']).apply(aggmulti)

In [20]:
sum_data = sum_data.reset_index()
sum_data

    Country                 Discipline  Gold  Silver  Bronze  Total
0       AUS              Alpine Skiing     0       0       1      1
1       AUS           Freestyle Skiing     3       2       2      7
2       AUS  Short Track Speed Skating     1       0       4      5
3       AUS                  Snowboard     1       1       0      2
4       AUT              Alpine Skiing    34      39      41    114
..      ...                        ...   ...     ...     ...    ...
250     USA                  Snowboard    10       5       9     24
251     USA              Speed skating    29      25      16     70
252     UZB           Freestyle Skiing     1       0       0      1
253     YUG              Alpine Skiing     0       2       0      2
254     YUG                Ski Jumping     0       4       1      5

[255 rows x 6 columns]

In [21]:
sum_data['Country'].unique()

array(['AUS', 'AUT', 'BEL', 'BLR', 'BUL', 'CAN', 'CHN', 'CRO', 'CZE',
       'DEN', 'ESP', 'EST', 'EUA', 'EUN', 'FIN', 'FRA', 'FRG', 'GBR',
       'GDR', 'GER', 'HUN', 'ITA', 'JPN', 'KAZ', 'KOR', 'LAT', 'LIE',
       'LUX', 'NED', 'NOR', 'NZL', 'POL', 'PRK', 'ROU', 'RUS', 'SLO',
       'SUI', 'SVK', 'SWE', 'TCH', 'UKR', 'URS', 'USA', 'UZB', 'YUG'],
      dtype=object)

In [22]:
cty_data = winterdata.groupby(['Country']).apply(aggmulti)

In [23]:
head_data = cty_data.sort_values(['Total'],ascending=False).head(20)

In [24]:
head_data = head_data.reset_index()

In [25]:
cty_list = list(head_data['Country'].unique())

In [26]:
cty_list

['USA',
 'CAN',
 'NOR',
 'URS',
 'FIN',
 'SWE',
 'GER',
 'SUI',
 'AUT',
 'RUS',
 'ITA',
 'GDR',
 'TCH',
 'FRA',
 'NED',
 'FRG',
 'KOR',
 'CHN',
 'GBR',
 'CZE']

In [27]:
dislist

array(['Biathlon', 'Bobsleigh', 'Skeleton', 'Curling', 'Ice Hockey',
       'Luge', 'Figure skating', 'Short Track Speed Skating',
       'Speed skating', 'Alpine Skiing', 'Cross Country Skiing',
       'Freestyle Skiing', 'Nordic Combined', 'Ski Jumping', 'Snowboard'],
      dtype=object)

In [40]:
data = sum_data[sum_data['Country'].isin(cty_list)]

In [41]:
data

    Country                 Discipline  Gold  Silver  Bronze  Total
4       AUT              Alpine Skiing    34      39      41    114
5       AUT                   Biathlon     0       6       5     11
6       AUT                  Bobsleigh     4       8       0     12
7       AUT       Cross Country Skiing     1       2       2      5
8       AUT             Figure skating     9      11       5     25
..      ...                        ...   ...     ...     ...    ...
247     USA  Short Track Speed Skating     4      16      24     44
248     USA                   Skeleton     3       4       1      8
249     USA                Ski Jumping     0       0       1      1
250     USA                  Snowboard    10       5       9     24
251     USA              Speed skating    29      25      16     70

[186 rows x 6 columns]

In [44]:
import seaborn as sns;

In [45]:
data = []
for i in range(len(dislist)):
    temp_data = []
    for j in range(len(cty_list)):
        temp = sum_data[(sum_data['Country']==cty_list[j]) & (sum_data['Discipline']== dislist[i])]['Total'].to_list()
        if not temp:
            temp = 0
        else:
            temp = int(temp[0])
        temp_data.append(temp)
    data.append(temp_data)

In [46]:
data

[[0, 3, 62, 37, 16, 16, 80, 5, 11, 57, 10, 20, 0, 44, 0, 14, 0, 0, 0, 8],
 [85, 18, 0, 8, 0, 0, 64, 98, 12, 12, 32, 38, 0, 4, 0, 22, 0, 0, 14, 0],
 [8, 4, 0, 0, 0, 0, 2, 3, 1, 3, 1, 0, 0, 0, 0, 0, 0, 0, 6, 0],
 [5, 50, 15, 0, 5, 33, 0, 25, 0, 0, 0, 0, 0, 6, 0, 0, 0, 5, 23, 0],
 [269,
  351,
  0,
  168,
  181,
  218,
  10,
  50,
  0,
  46,
  0,
  0,
  131,
  0,
  0,
  18,
  0,
  0,
  24,
  47],
 [9, 0, 0, 7, 0, 0, 42, 0, 27, 6, 24, 37, 0, 0, 0, 14, 0, 0, 0, 0],
 [65, 43, 3, 44, 2, 4, 9, 3, 25, 51, 3, 14, 5, 18, 3, 5, 2, 12, 10, 0],
 [44, 71, 0, 0, 0, 0, 0, 0, 0, 8, 22, 0, 0, 0, 1, 0, 74, 50, 1, 0],
 [70, 45, 80, 60, 24, 16, 45, 0, 6, 20, 6, 29, 0, 0, 117, 3, 11, 7, 0, 5],
 [44, 11, 29, 1, 1, 16, 22, 59, 114, 1, 30, 0, 1, 45, 0, 13, 0, 0, 0, 1],
 [1, 4, 177, 111, 141, 123, 35, 13, 5, 49, 61, 10, 11, 5, 0, 0, 0, 0, 0, 12],
 [21, 18, 8, 0, 4, 2, 1, 4, 1, 4, 0, 0, 0, 12, 0, 0, 0, 8, 0, 1],
 [7, 0, 40, 3, 23, 2, 21, 8, 29, 1, 1, 7, 0, 7, 0, 5, 0, 0, 0, 0],
 [1, 0, 39, 1, 34, 2, 24, 5, 43, 0, 0, 7, 10, 1, 0, 0, 0, 0, 0, 0],
 [24, 7, 4, 0, 3, 1, 5, 12, 6, 5, 2, 0, 0, 10, 1, 0, 0, 0, 1, 1]]

In [47]:
np.array(data).shape

(15, 20)

In [48]:
len(dislist)

15

In [49]:
import plotly.express as px

In [50]:
fig = px.imshow(data,
                labels=dict(x="Country", y="Discipline", color="#Medals"),
                x=cty_list,
                y=dislist,
                color_continuous_scale=px.colors.sequential.PuBu
               )
fig.update_xaxes(side="bottom")
fig.show()

TypeError: imshow() got an unexpected keyword argument 'labels'

In [35]:
wide_data = sum_data.groupby(['Country']).sum()
wide_data = wide_data.reset_index().sort_values(['Total'],ascending=False).head(20)

In [36]:
fig = px.bar(wide_data, x="Country", y=["Gold", "Silver", "Bronze"], title="Wide-Form Input",color_discrete_sequence=['rgba(235,185,66,0.8)','rgba(112,110,100,0.6)','rgba(148,118,62,0.8)'])
fig.update_layout(width=700, height=560,template = 'plotly_white')
fig.show()
fig.write_html("test.html")

ValueError: All arguments should have the same length. The length of argument `y` is 3, whereas the length of previous arguments ['Country'] is 20

In [ ]:
wide_data